#main {
  .above {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ccc;
  }

  .between {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    & > div {
      margin: 0 16px;
    }

    .prototype-list {
      width: 320px;
      border: 1px solid #aaa;
      border-radius: 2px;
      // box-shadow: 0 0 8px 1px;

      & > div {
        display: flex;
        border-bottom: 1px solid #aaa;

        &.equipment {
          display: block;
          padding: 0 16px;
          border-bottom: 0;

          & > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 16px 0;

            & > div {
              // display: flex;
              // align-items: center;
              // justify-content: center;
              width: 48px;
              height: 48px;
              // text-align: center;

              & > div {
                width: 32px;
                height: 32px;
                margin: 0 auto;
                border-radius: 2px;
                border: 1px solid #aaa;
              }

              & > p {
                height: 16px;
                margin-top: 4px;
                text-align: center;
                line-height: 16px;
              }
            }
          }
        }

        & > span {
          width: 56px;
          padding: 4px 0;
          text-align: center;
        }

        & > span:nth-child(2) {
          flex: 1;
          width: auto;
          padding: 4px 8px;
        }

        & > span:nth-child(2n-1) {
          color: #fff;
          background-color: #aaa;
        }

        & > span.progress {
          padding: 4px;

          span {
            display: block;
            height: 16px;
            border-radius: 2px;

            &.shield {
              background-color: green;
            }

            &.fuel {
              background-color: red;
            }
          }
        }
      }
    }

    .chart {
      display: flex;
      flex-direction: column;
      height: 221px;
      width: 197px;
      border: 1px solid #aaa;
      border-radius: 2px;

      & > p {
        text-align: center;
        line-height: 24px;
        color: #fff;
        background-color: #aaa;
      }

      & > div {
        flex: 1;
      }
    }
  }

  .below {
    display: flex;
    height: 40px;
    border-top: 1px solid #ccc;

    & > div {
      flex: 1;
      text-align: center;
      line-height: 39px;
    }
  }
}
