.main-between-div {
  // padding-bottom: 8px;
  border: 1px solid #aaa;
  border-radius: 2px;
  // background-color: rgba(0,0,0,.5);
}

#main {
  .above {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ccc;
    // padding: 0 32px;
    // background-color: @c500;

    div {

    }
  }

  .between {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    // background-image: url("./images/bg.jpg");
    // background-size: cover;

    .prototype-list {
      .main-between-div;
      width: 400px;
      // box-shadow: 0 0 8px 1px;

      & > div {
        display: flex;
        border-bottom: 1px solid #aaa;

        & > span {
          width: 56px;
          padding: 4px 0;
          text-align: center;
        }

        & > span:nth-child(2) {
          flex: 1;
          width: auto;
          padding: 4px 8px;
        }

        & > span:nth-child(2n-1) {
          color: #fff;
          background-color: #aaa;
        }
      }

      & > table {


        th, td {
          padding: 8px 0;
          text-align: center;
        }

        th {
          border-bottom: 1px solid #aaa;
        }

        td > span {
          margin: 0 6px;
        }

        tr:nth-child(2n) > td {
          background-color: #eee;
        }
      }
    }

    .package {
      height: 192px;
      width: 192px;

      .main-between-div;

      & > div {
        float: left;
        width: 40px;
        height: 40px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &:nth-child(4n-3) {
          border-left: 1px solid #fff;
        }

        &:nth-child(-n+4) {
          border-top: 1px solid #fff;
        }
      }
    }
  }

  .below {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-top: 1px solid #ccc;
  }
}
