#page-map {
  & > div {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
      width: 24px;
      border: 1px solid #aaa;
      border-radius: 2px;
      margin: 0 4px;
      text-align: center;
      line-height: 24px;
    }
  }

  & > div > div > div {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }

  .src, .dest {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 0 4px;
    text-align: center;
    line-height: 22px;
  }

  .dest.focus {
    border-color: orange;
  }

  p {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  ul {
    position: absolute;
    left: 50%;
    bottom: 32px;
    width: 400px;
    height: 32px;
    list-style-type: none;
    transform: translateX(-50%);

    & > li {
      float: left;
      width: 32px;
      margin: 0 4px;
      border: 1px solid #aaa;
      border-radius: 2px;
      text-align: center;
      line-height: 30px;
    }

    &.disabled > li {
      color: #ababab;
    }
  }

  .button {
    position: absolute;
    bottom: -64px;
    width:  128px;
    height: 128px;
    padding: 32px 24px;
    border-radius: 64px;
    color: #fff;
    font-style: normal;
    background-color: #21bd73;

    &.back {
      left: -64px;
      text-align: right;
    }

    &.forward {
      right: -64px;
    }

    &.disabled {
      background-color: #ababab;
    }
  }
}
