@media all and (orientation: portrait) {
  #if-portrait {
    display: flex!important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: '微软雅黑';
  outline: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.page-button {
  position: absolute;
  bottom: -64px;
  width: 128px;
  height: 128px;
  padding: 32px 24px;
  border-radius: 64px;
  color: #fff;
  font-style: normal;
  background-color: #21bd73;
}
.page-button.left {
  left: -64px;
  text-align: right;
}
.page-button.right {
  right: -64px;
}
.page-button.disabled {
  background-color: #ababab;
}
#if-portrait {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #fff;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.page > div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 200ms;
  background-color: #fff;
}
.page.ready > div {
  opacity: 1;
}
.page.show {
  display: block;
}
.page::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.page.ready::after {
  content: '';
  display: none;
}
.page > .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
#page-create > div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-create > div > * {
  margin: 16px 0;
}
#page-create > div > p {
  font-size: 14px;
}
#page-create > div > input {
  width: 200px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid gray;
  text-align: center;
}
#main .above {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
#main .between {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
#main .between > div {
  margin: 0 16px;
}
#main .between .prototype-list {
  width: 320px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
#main .between .prototype-list > div {
  display: flex;
  border-bottom: 1px solid #aaa;
}
#main .between .prototype-list > div.equipment {
  display: block;
  padding: 0 16px;
  border-bottom: 0;
}
#main .between .prototype-list > div.equipment > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0;
}
#main .between .prototype-list > div.equipment > div > div {
  width: 48px;
  height: 48px;
}
#main .between .prototype-list > div.equipment > div > div > div {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid #aaa;
}
#main .between .prototype-list > div.equipment > div > div > p {
  height: 16px;
  margin-top: 4px;
  text-align: center;
  line-height: 16px;
}
#main .between .prototype-list > div > span {
  width: 56px;
  padding: 4px 0;
  text-align: center;
}
#main .between .prototype-list > div > span:nth-child(2) {
  flex: 1;
  width: auto;
  padding: 4px 8px;
}
#main .between .prototype-list > div > span:nth-child(2n-1) {
  color: #fff;
  background-color: #aaa;
}
#main .between .prototype-list > div > span.progress {
  padding: 4px;
}
#main .between .prototype-list > div > span.progress span {
  display: block;
  height: 16px;
  border-radius: 2px;
}
#main .between .prototype-list > div > span.progress span.shield {
  background-color: green;
}
#main .between .prototype-list > div > span.progress span.fuel {
  background-color: red;
}
#main .between .chart {
  display: flex;
  flex-direction: column;
  height: 221px;
  width: 197px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
#main .between .chart > p {
  text-align: center;
  line-height: 24px;
  color: #fff;
  background-color: #aaa;
}
#main .between .chart > div {
  flex: 1;
}
#main .below {
  display: flex;
  height: 40px;
  border-top: 1px solid #ccc;
}
#main .below > div {
  flex: 1;
  text-align: center;
  line-height: 39px;
}
#page-map > div {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#page-map > div input {
  width: 24px;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 4px;
  text-align: center;
  line-height: 24px;
}
#page-map > div > div > div {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
#page-map .src-container,
#page-map .dest-container {
  position: relative;
}
#page-map .src-container:before {
  content: "始发地";
  position: absolute;
  top: 0;
  left: -64px;
  font-size: 16px;
  line-height: 32px;
}
#page-map .dest-container:before {
  content: "目的地";
  position: absolute;
  top: 0;
  left: -64px;
  font-size: 16px;
  line-height: 32px;
}
#page-map .src,
#page-map .dest {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin: 0 8px;
  text-align: center;
  line-height: 30px;
}
#page-map .src {
  border: 1px solid #aaa;
}
#page-map .dest {
  border: 1px solid #aaa;
}
#page-map .dest.focus {
  border-color: orange;
}
#page-map p {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
#page-map ul {
  position: absolute;
  left: 0;
  bottom: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 0 72px;
  list-style-type: none;
}
#page-map ul > li {
  width: 32px;
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  line-height: 30px;
}
#page-map ul.disabled > li {
  color: #ababab;
}
#page-map .button {
  position: absolute;
  bottom: -64px;
  width: 128px;
  height: 128px;
  padding: 32px 24px;
  border-radius: 64px;
  color: #fff;
  font-style: normal;
  background-color: #21bd73;
}
#page-map .button.back {
  left: -64px;
  text-align: right;
}
#page-map .button.forward {
  right: -64px;
}
#page-map .button.disabled {
  background-color: #ababab;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#game > div {
  background-color: #e9e9e9;
}
#game .status {
  display: flex;
  height: 32px;
  padding: 0 16px;
  justify-content: flex-end;
  align-items: center;
  background-color: #e9e9e9;
}
#game .status div {
  color: #21bd73;
  text-align: center;
}
#game .map {
  position: relative;
}
#game .map .tracks {
  background-color: #c2c29c;
}
#game .map .tracks .boundary {
  height: 5px;
  background-image: url("images/boundary.png");
}
#game .map .tracks .division {
  height: 1px;
  background-image: url("images/division.png");
}
#game .map .tracks .track {
  height: 48px;
}
#game .map .rocket {
  position: absolute;
  left: 0;
  height: 48px;
  width: 32px;
  background: url("images/rocket/1834.png") no-repeat center;
}
#game .map .rock {
  position: absolute;
  left: 0;
  height: 48px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate 2s linear infinite;
}
#game .map .rock.size1 {
  background-image: url("images/rock/2280.png");
}
#game .map .rock.size2 {
  background-image: url("images/rock/2281.png");
}
#game .map .rock.size3 {
  background-image: url("images/rock/2282.png");
}
#game .map .rock.size4 {
  background-image: url("images/rock/2283.png");
}
#game .map .rock.size5 {
  background-image: url("images/rock/2284.png");
}
#game .map .rock.disappear {
  opacity: 0;
  transition: opacity 200ms;
}
#game .scene {
  position: relative;
  flex: 1;
  overflow: hidden;
}
#game .scene .scale {
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
  transform-origin: left top;
  overflow: hidden;
}
#game .scene .tracks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 183px;
  padding: 1px 0 2px;
  margin: 44px 0;
  background-color: transparent;
}
#game .scene .tracks .track {
  padding-top: 1px;
  background-image: url('images/border.png');
}
#game .scene .tracks .track:first-child {
  background-image: none;
}
#game .scene .scroll {
  height: 270px;
  background: pink url('images/scroll.jpg') repeat-x left center;
  transition: translateX(10px);
}
#game .scene .scroll .safe-zone {
  position: relative;
  z-index: 3;
  width: 50px;
  height: 182px;
  margin: 44px 0;
  background-color: rgba(255, 255, 255, 0.5);
}
#game .scene .scroll .safe-zone.start {
  float: left;
}
#game .scene .scroll .safe-zone.finish {
  float: right;
}
#game .scene .scroll .rock,
#game .scene .scroll .rocket-wrap {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  transition: top 50ms;
}
#game .scene .scroll .rock.disappear {
  opacity: 0;
  transition: opacity 200ms;
}
#game .scene .scroll .rock > div {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  transition: background-color 500ms;
}
#game .scene .scroll .rocket-wrap > div {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
#game .scene .scroll .size1 {
  background-color: white;
}
#game .scene .scroll .size2 {
  background-color: blue;
}
#game .scene .scroll .size3 {
  background-color: green;
}
#game .scene .scroll .size4 {
  background-color: purple;
}
#game .scene .scroll .size5 {
  background-color: orange;
}
#game .scene .scroll .size6 {
  background-color: red;
}
#game .scene .scroll .size7 {
  background-color: black;
}
#game .scene .scroll .size8 {
  background-color: gold;
}
#game .scene .scroll.track-3 .rocket-wrap,
#game .scene .scroll.track-3 .rock {
  height: 60px;
}
#game .scene .scroll.track-4 .rocket-wrap,
#game .scene .scroll.track-4 .rock {
  height: 45px;
}
#game .scene .scroll.track-5 .rocket-wrap,
#game .scene .scroll.track-5 .rock {
  height: 36px;
}
#game .control {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
#game .control > div {
  width: 100%;
}
#game .control #items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
#game .control #items > div {
  width: 48px;
  height: 48px;
}
#game .control #items > div > div {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 2px;
  background-color: #fff;
}
#game .control #items > div > p {
  margin-top: 4px;
  text-align: center;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#game .control #items > div.active > div {
  background-color: yellow;
}
#game .control #items > div.disabled > div {
  background-color: gray;
}
#game .control #dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game .control #dashboard .board {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  color: #fff;
  text-align: center;
  line-height: 56px;
  background-color: green;
}
#game .control #dashboard .board.speed {
  margin: 0 16px;
}
#game .control #dashboard #hp {
  width: 56px;
  height: 56px;
  border: 1px solid gray;
  border-radius: 28px;
  background-image: linear-gradient(to bottom, green, red);
  overflow: hidden;
}
#game .control #dashboard #hp div {
  height: 0;
  background-color: #fff;
  transition: height 500ms;
}
#game .control #dashboard .button {
  position: absolute;
  width: 56px;
  height: 56px;
  border: 1px solid #aaa;
  border-radius: 28px;
  text-align: center;
  line-height: 54px;
  background-color: #fff;
}
#game .control #dashboard .button.up {
  left: 0;
}
#game .control #dashboard .button.down {
  right: 0;
}
#game .control #speed-ctrl {
  display: flex;
  align-items: center;
  font-size: 0;
}
#game .control #speed-ctrl span {
  font-size: 14px;
}
#game .control #speed-ctrl .axis {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 0 16px;
  background-color: red;
}
#game .control #speed-ctrl .axis .accelerator {
  position: absolute;
  top: 1px;
  left: 50px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: blue;
  transform: translate(-50%, -50%);
}
#game > .monitor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: gray;
  transform: translate(-50%, -50%);
}
#game > .cover {
  display: none;
}
#game > .cover > div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#game > .cover > div > div {
  width: 50%;
  border-radius: 2px;
  background-color: #fff;
}
#game > .cover > div > div > .content {
  padding: 32px;
  font-size: 14px;
  text-align: center;
}
#game > .cover > div > div > .option {
  padding: 16px;
  border-top: 1px solid #aaa;
}
