@media all and (orientation: portrait) {
  #if-portrait {
    display: flex!important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: '微软雅黑';
  outline: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.progress {
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
}
.progress > div {
  height: 4px;
  background-color: #21bd73;
}
.page-button {
  position: absolute;
  bottom: -64px;
  width: 128px;
  height: 128px;
  padding: 32px 24px;
  border-radius: 64px;
  color: #fff;
  font-style: normal;
  background-color: #21bd73;
}
.page-button.left {
  left: -64px;
  text-align: right;
}
.page-button.right {
  right: -64px;
}
.page-button.disabled {
  background-color: #ababab;
}
#if-portrait {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #fff;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.page > div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 200ms;
  background-color: #fff;
}
.page.ready > div {
  opacity: 1;
}
.page.show {
  display: block;
}
.page::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}
.page.ready::after {
  content: '';
  display: none;
}
.page > .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#page-create > div {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-create > div > * {
  margin: 16px 0;
}
#page-create > div > p {
  font-size: 14px;
}
#page-create > div > input {
  width: 200px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid gray;
  text-align: center;
}
.main-between-div {
  border: 1px solid #aaa;
  border-radius: 2px;
}
#main .above {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
#main .between {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
#main .between .prototype-list {
  border: 1px solid #aaa;
  border-radius: 2px;
  width: 400px;
}
#main .between .prototype-list > div {
  display: flex;
  border-bottom: 1px solid #aaa;
}
#main .between .prototype-list > div > span {
  width: 56px;
  padding: 4px 0;
  text-align: center;
}
#main .between .prototype-list > div > span:nth-child(2) {
  flex: 1;
  width: auto;
  padding: 4px 8px;
}
#main .between .prototype-list > div > span:nth-child(2n-1) {
  color: #fff;
  background-color: #aaa;
}
#main .between .prototype-list > table th,
#main .between .prototype-list > table td {
  padding: 8px 0;
  text-align: center;
}
#main .between .prototype-list > table th {
  border-bottom: 1px solid #aaa;
}
#main .between .prototype-list > table td > span {
  margin: 0 6px;
}
#main .between .prototype-list > table tr:nth-child(2n) > td {
  background-color: #eee;
}
#main .between .package {
  height: 192px;
  width: 192px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
#main .between .package > div {
  float: left;
  width: 40px;
  height: 40px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#main .between .package > div:nth-child(4n-3) {
  border-left: 1px solid #fff;
}
#main .between .package > div:nth-child(-n+4) {
  border-top: 1px solid #fff;
}
#main .below {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-top: 1px solid #ccc;
}
#page-map > div {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#page-map > div input {
  width: 24px;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 4px;
  text-align: center;
  line-height: 24px;
}
#page-map > div > div > div {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
#page-map .src,
#page-map .dest {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin: 0 8px;
  text-align: center;
  line-height: 30px;
}
#page-map .src {
  border: 1px solid #aaa;
}
#page-map .dest {
  border: 1px solid #aaa;
}
#page-map .dest.focus {
  border-color: orange;
}
#page-map p {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
#page-map ul {
  position: absolute;
  left: 50%;
  bottom: 32px;
  width: 480px;
  height: 32px;
  list-style-type: none;
  transform: translateX(-50%);
}
#page-map ul > li {
  float: left;
  width: 32px;
  margin: 0 8px;
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  line-height: 30px;
}
#page-map ul.disabled > li {
  color: #ababab;
}
#page-map .button {
  position: absolute;
  bottom: -64px;
  width: 128px;
  height: 128px;
  padding: 32px 24px;
  border-radius: 64px;
  color: #fff;
  font-style: normal;
  background-color: #21bd73;
}
#page-map .button.back {
  left: -64px;
  text-align: right;
}
#page-map .button.forward {
  right: -64px;
}
#page-map .button.disabled {
  background-color: #ababab;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#game .status {
  display: flex;
  height: 32px;
  justify-content: space-around;
  align-items: center;
  background-color: #e9e9e9;
}
#game .status div {
  flex: 1;
  color: #21bd73;
  text-align: center;
}
#game .scene {
  position: relative;
  flex: 1;
  overflow: hidden;
}
#game .scene .scale {
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
  transform-origin: left top;
  overflow: hidden;
}
#game .scene .tracks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 183px;
  padding: 1px 0 2px;
  margin: 44px 0;
  background-color: transparent;
}
#game .scene .tracks .track {
  padding-top: 1px;
  background-image: url('images/border.png');
}
#game .scene .tracks .track:first-child {
  background-image: none;
}
#game .scene .scroll {
  height: 270px;
  background: pink url('images/scroll.jpg') repeat-x left center;
  transition: translateX(10px);
}
#game .scene .scroll .safe-zone {
  position: relative;
  z-index: 3;
  width: 50px;
  height: 182px;
  margin: 44px 0;
  background-color: rgba(255, 255, 255, 0.5);
}
#game .scene .scroll .safe-zone.start {
  float: left;
}
#game .scene .scroll .safe-zone.finish {
  float: right;
}
#game .scene .scroll .rock,
#game .scene .scroll .rocket-wrap {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  transition: top 50ms;
}
#game .scene .scroll .rock.disappear {
  opacity: 0;
  transition: opacity 200ms;
}
#game .scene .scroll .rock > div {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  transition: background-color 500ms;
}
#game .scene .scroll .rocket-wrap > div {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
#game .scene .scroll .size1 {
  background-color: white;
}
#game .scene .scroll .size2 {
  background-color: blue;
}
#game .scene .scroll .size3 {
  background-color: green;
}
#game .scene .scroll .size4 {
  background-color: purple;
}
#game .scene .scroll .size5 {
  background-color: orange;
}
#game .scene .scroll .size6 {
  background-color: red;
}
#game .scene .scroll .size7 {
  background-color: black;
}
#game .scene .scroll .size8 {
  background-color: gold;
}
#game .scene .scroll.track-3 .rocket-wrap,
#game .scene .scroll.track-3 .rock {
  height: 60px;
}
#game .scene .scroll.track-4 .rocket-wrap,
#game .scene .scroll.track-4 .rock {
  height: 45px;
}
#game .scene .scroll.track-5 .rocket-wrap,
#game .scene .scroll.track-5 .rock {
  height: 36px;
}
#game .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 32px;
  background-color: #e9e9e9;
}
#game .control #items {
  width: 188px;
  height: 32px;
  background-color: gray;
}
#game .control #dashboard {
  position: relative;
}
#game .control #dashboard .board {
  position: absolute;
  top: 50%;
  left: 24px;
  z-index: 0;
  box-sizing: content-box;
  width: 42px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background-color: green;
}
#game .control #dashboard .board.left {
  padding: 0 32px 0 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translate(-100%, -50%);
}
#game .control #dashboard .board.right {
  padding: 0 8px 0 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translate(0, -50%);
}
#game .control #dashboard #hp {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, green, red);
  overflow: hidden;
}
#game .control #dashboard #hp div {
  height: 0;
  background-color: #fff;
  transition: height 500ms;
}
#game .control #speed-ctrl {
  display: flex;
  align-items: center;
  font-size: 0;
}
#game .control #speed-ctrl span {
  font-size: 14px;
}
#game .control #speed-ctrl .axis {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 0 16px;
  background-color: red;
}
#game .control #speed-ctrl .axis .accelerator {
  position: absolute;
  top: 1px;
  left: 50px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: blue;
  transform: translate(-50%, -50%);
}
#game > .monitor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: gray;
  transform: translate(-50%, -50%);
}
#game > .cover {
  display: none;
}
#game > .cover > div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#game > .cover > div > div {
  width: 50%;
  border-radius: 2px;
  background-color: #fff;
}
#game > .cover > div > div > .content {
  padding: 32px;
  font-size: 14px;
  text-align: center;
}
#game > .cover > div > div > .option {
  padding: 16px;
  border-top: 1px solid #aaa;
}
#page-test .status {
  display: flex;
  height: 32px;
  justify-content: space-around;
  align-items: center;
  background-color: #e9e9e9;
}
#page-test .status div {
  flex: 1;
  color: #21bd73;
  text-align: center;
}
#page-test .scene {
  position: relative;
  flex: 1;
  overflow: hidden;
}
#page-test .scene .scale {
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
  transform-origin: left top;
  overflow: hidden;
}
#page-test .scene .tracks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 183px;
  padding: 1px 0 2px;
  margin: 44px 0;
  background-color: transparent;
}
#page-test .scene .tracks .track {
  padding-top: 1px;
  background-image: url('images/border.png');
}
#page-test .scene .tracks .track:first-child {
  background-image: none;
}
#page-test .scene .scroll {
  height: 270px;
  background: pink url('images/scroll.jpg') repeat-x left center;
  transition: translateX(10px);
}
#page-test .scene .scroll .safe-zone {
  position: relative;
  z-index: 3;
  width: 50px;
  height: 182px;
  margin: 44px 0;
  background-color: rgba(255, 255, 255, 0.5);
}
#page-test .scene .scroll .safe-zone.start {
  float: left;
}
#page-test .scene .scroll .safe-zone.finish {
  float: right;
}
#page-test .scene .scroll .rock,
#page-test .scene .scroll .rocket-wrap {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  transition: top 50ms;
}
#page-test .scene .scroll.track-3 .rocket-wrap {
  height: 60px;
}
#page-test .scene .scroll.track-4 .rocket-wrap {
  height: 45px;
}
#page-test .scene .scroll.track-5 .rocket-wrap {
  height: 36px;
}
#page-test .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 32px;
  background-color: #e9e9e9;
}
#page-test .control #items {
  width: 188px;
  height: 32px;
  background-color: gray;
}
#page-test .control #dashboard {
  position: relative;
}
#page-test .control #dashboard .board {
  position: absolute;
  top: 50%;
  left: 24px;
  z-index: 0;
  box-sizing: content-box;
  width: 42px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background-color: green;
}
#page-test .control #dashboard .board.left {
  padding: 0 32px 0 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translate(-100%, -50%);
}
#page-test .control #dashboard .board.right {
  padding: 0 8px 0 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translate(0, -50%);
}
#page-test .control #dashboard #hp {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, green, red);
  overflow: hidden;
}
#page-test .control #dashboard #hp div {
  height: 0;
  background-color: #fff;
  transition: height 500ms;
}
#page-test .control #speed-ctrl {
  display: flex;
  align-items: center;
  font-size: 0;
}
#page-test .control #speed-ctrl span {
  font-size: 14px;
}
#page-test .control #speed-ctrl .axis {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 0 16px;
  background-color: red;
}
#page-test .control #speed-ctrl .axis .accelerator {
  position: absolute;
  top: 1px;
  left: 50px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: blue;
  transform: translate(-50%, -50%);
}
#page-test > .monitor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: gray;
  transform: translate(-50%, -50%);
}
#page-test > .cover {
  display: none;
}
#page-test > .cover > div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#page-test > .cover > div > div {
  width: 50%;
  border-radius: 2px;
  background-color: #fff;
}
#page-test > .cover > div > div > .content {
  padding: 32px;
  font-size: 14px;
  text-align: center;
}
#page-test > .cover > div > div > .option {
  padding: 16px;
  border-top: 1px solid #aaa;
}
